<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jenkinsTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E082AE91FBCD85C00DF749A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E082AFD1FBCD85C00DF749A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E082B081FBCD85C00DF749A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
